@import url(../../../https://fonts.googleapis.com/css?family=Indie+Flower);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#header1-1 P {
  font-size: 24px;
}
#header1-1 H1 {
  font-size: 48px;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
  text-align: left;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box3-14 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-14 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box5-s .mbr-header__text {
  color: #ffffff;
}
#msg-box5-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-s .mbr-article {
  color: #ffffff;
}
#header3-16 H3 {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-3 .mbr-header__text {
  text-align: center;
}
#contacts1-8 UL {
  text-align: left;
}
#contacts1-8 P {
  text-align: left;
}

#content5-v .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-v .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-v .mbr-article {
  color: #fff;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#contacts1-d UL {
  text-align: left;
}
#contacts1-d P {
  text-align: left;
}

#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-b .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}
#contacts1-h UL {
  text-align: left;
}
#contacts1-h P {
  text-align: left;
}

#msg-box3-z .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-e .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-e .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#features1-n .mbr-section-title .mbr-header__text {
  text-align: left;
}
#contacts1-f UL {
  text-align: left;
}
#contacts1-f P {
  text-align: left;
}

#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-5 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#contacts1-h UL {
  text-align: left;
}
#contacts1-h P {
  text-align: left;
}

#content5-o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-article {
  color: #fff;
}
#msg-box3-y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-y .mbr-article P {
  text-align: left;
}
#msg-box2-1c .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1c .mbr-article {
  color: #252525;
}
#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-g .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#contacts1-h UL {
  text-align: left;
}
#contacts1-h P {
  text-align: left;
}
